[mysqld_multi] 
mysqld = /usr/local/mysql/bin/mysqld  
mysqladmin = /usr/local/mysql/bin/mysqladmin
log = /tmp/mysql_multi.log
[mysqld3306] 
# 设置数据目录　[多实例中一定要不同] 
datadir = /home/data/mysql_data3306
# 设置sock存放文件名　[多实例中一定要不同] 
socket = /tmp/mysql.sock3306 
# 设置监听开放端口　[多实例中一定要不同] 
port = 3306   
# 主从备份时必须指定，且唯一
server_id = 3306
# 行内容实时同步模式
binlog_format = row
log-bin = /home/data/mysql_data3306/log/mysql3306_bin
#主主互备模式，它是为了让slave也能充当master
log-slave-updates
#开启慢查询
slow_query_log = on
long_query_time = 3  
slow_query_log_file = /home/data/mysql_data3306/log/slow.log  
#忽略表名称大小
lower_case_table_names = 1
# 设置运行用户，否则会有Security问题
user = mysql
# 设置模式
sql_mode = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
[mysqld3307]
# 设置数据目录　[多实例中一定要不同]
datadir = /home/data/mysql_data3307
# 设置sock存放文件名　[多实例中一定要不同]
socket = /tmp/mysql.sock3307
# 设置监听开放端口　[多实例中一定要不同]
port = 3307
# 主从备份时必须指定，且唯一
server_id = 3307
# 行内容实时同步模式
binlog_format = row
log-bin = /home/data/mysql_data3307/log/mysql3307_bin
#主主互备模式，它是为了让slave也能充当master
log-slave-updates
#开启慢查询
slow_query_log = on
long_query_time = 3
slow_query_log_file = /home/data/mysql_data3307/log/slow.log
#忽略表名称大小
lower_case_table_names = 1
# 设置运行用户，否则会有Security问题
user = mysql
# 设置模式
sql_mode = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES